{% extends 'base.html' %}

{% load static %}
{% load tags %}

{% block title %}
Assign task
{% endblock %}

{% block main_content %}

<div class="row">
    <div class="col-md-10">
        <form action="." method="post" class="form">
            {% csrf_token %}
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Task</h3>
                </div>
                <div class="box-body">
                    {{ form }}
                    {% if activation.management_form %}
                    {{ activation.management_form }}
                    {% endif %}

                    {{ activation.task.flow_process }}
                </div>
                <div class="box-footer">
                    <button type="submit" name="_continue" class="btn btn-primary">Assign Myself</button>
                    <a href="{% url 'example:tasks_unassigned' %}" class="btn btn-default">
                        <span class="glyphicon glyphicon-tasks"></span> Unassigned Tasks
                    </a>
                    <a href="{% url 'example:index' %}" class="btn btn-default">
                        <span class="glyphicon glyphicon-home"></span> Home
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock main_content %}
