{% extends 'base.html' %}

{% block title %}

{% if approving %}
Timesheets
{% else %}
My Timesheets
{% endif %}

{% endblock %}

{% block main_content %}
<div class="box box-primary">
    <div class="box-header with-border">
        <i class="fa fa-black-tie"></i>
        <h3 class="box-title">User Daily Timesheets</h3>
    </div>
    <div class="box-body">
        {% if sheets %}
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th> Date </th>
                        <th> Code </th>
                        <th> For User </th>
                        <th> Payroll </th>
                        <th> Approval Status </th>
                        <th> Approved By </th>
                        <th> Approved At </th>
                    </tr>
                </thead>
                <tbody>
                    {% for sheet in sheets %}
                    <tr>
                        <td>{{ sheet.date }}</td>
                        <td>{{ sheet.code }}</td>
                        <td>{{ sheet.for_user.username }}</td>
                        <td>{{ sheet.payroll }}</td>
                        <td>{{ sheet.approval_status }}</td>
                        <td>{{ sheet.approved_by.username }}</td>
                        <td>{{ sheet.approved_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        <p>
            You have no daily timesheets
        </p>
        {% endif %}
    </div>
    <div class="box-footer">
        {% if perms.auth.no_permission %}
        <a href="{% url 'example:daily:start' %}" class="btn btn-default">
            <span class="glyphicon glyphicon-edit"></span> Fill a timesheet
        </a>
        {% endif %}
        <a href="{% url 'example:index' %}" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span> Home
        </a>
    </div>
</div>
{% endblock main_content %}