{% extends 'base.html' %}

{% block title %}
Processes Instances
{% endblock %}

{% block main_content %}
<div class="box box-primary">
    <div class="box-body no-padding">
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th> Process </th>
                    <th> Created By </th>
                    <th> Created </th>
                    <th> Completed </th>
                    <th> Status </th>
                </tr>
            </thead>
            <tbody>
                {% for process in processes %}
                <tr>
                    <td>{{ process.flow_class }}</td>
                    <td>{{ process.created_by }}</td>
                    <td>{{ process.created }}</td>
                    <td>{{ process.finished }}</td>
                    <td>{{ process.status }}</td>
                </tr>
                {% empty %}
                <tr><td colspan=5>No instances available.</td></tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock main_content %}
