{% extends 'index.html' %}

{% block title %}
Processes
{% endblock %}

{% block title_note %}
list of available processes
{% endblock %}

{% block main_content %}
<div class="box box-primary">
    <div class="box-body no-padding">
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Create a daily timesheet</td>
                    <td>
                        {% if perms.auth.no_permission %}
                        <a href="{% url 'example:daily:start' %}" class="btn btn-sm btn-primary">
                            <span class="fa fa-play-circle"> </span> Start
                        </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Request a vacation</td>
                    <td>
                        {% if perms.auth.no_permission %}
                        <a href="{% url 'example:vacation:start' %}" class="btn btn-sm btn-primary">
                            <span class="fa fa-play-circle"> </span> Start
                        </a>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock main_content %}
