{% extends 'index.html' %}

{% block title %}
My Processes
{% endblock %}

{% block main_content %}
<div class="box box-primary">
    <div class="box-header with-border">
        <i class="fa fa-black-tie"></i>
        <h3 class="box-title">User Processes</h3>
    </div>
    <div class="box-body">

    </div>
    <div class="box-footer">
        <a href="{% url 'example:index' %}" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span> Home
        </a>        
    </div>
</div>
{% endblock main_content %}