{% extends 'index.html' %}
{% load viewflow %}
{% load tags %}

{% block title %}
My Tasks
{% endblock %}

{% block main_content %}
<div class="box box-primary">
    <div class="box-header with-border">
        <i class="fa fa-black-tie"></i>
        <h3 class="box-title">User Tasks</h3>
    </div>
    <div class="box-body">
        {% if tasks %}
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>Details </th>
                    <th>Created At</th>
                    <th>Status </th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                {% get_task_url task as task_url %}
                <tr>
                    <td>
                        {% if task_url %}
                        <a href="{{ task_url }}">
                            {{ task.flow_process }}
                        </a>
                        {% else %}
                            {{ task.flow_process }}
                        {% endif %}
                    </td>
                    <td>{{ task.created }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.comments }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>
            No tasks !
        </p>
        {% endif %}
    </div>
    <div class="box-footer">
        <a href="{% url 'example:index' %}" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span> Home
        </a>        
    </div>
</div>
{% endblock main_content %}