<div class="box box-primary">
    <div class="box-header with-border">
        <i class="fa fa-black-tie"></i>
        <h3 class="box-title">User Daily Timesheets</h3>
    </div>
    <div class="box-body">
        {% if sheets %}
        <table>
            <tr>
                <th>Day</th>
                <th>Status</th>
                <th>Approval</th>
                <th>Approved By</th>
            </tr>
            {% for sheet in sheets %}
            <tr>
                <th>{{sheet.date}}</th>
                <th>{{sheet.status}}</th>
                <th>{{sheet.approval.approval_status}}</th>
                <th>{{sheet.approval.approved_by}}</th>
            </tr>
            {% endfor%}
        </table>
        {% else %}
        <p>
            You have no daily timesheets
        </p>
        {% endif %}
    </div>
    <form action="{% url 'add_daily' %}" method="post" class="form form-inline">
    {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control month_picker" id="month" placeholder="select month..." 
                {% if month and year %}
                    value="{{month}}/{{year}}"
                {% endif %}>
                <span class="input-group-btn">
                    <button id="this_month" class="btn btn-primary" type="button">This Month</button></span>
            </div>
        </div>
            <span class="input-group-btn">
                <button type="submit" name="project_pk" value="0" class="btn btn-default">
                    <i class="fa fa-close"></i>
                    Reset
                </button>
            </span>
            <span class="input-group-btn">
                <button type="submit" name="project_pk" value="0" class="btn btn-default">
                    <i class="fa fa-close"></i>
                    Reset
                </button>
            </span>

    </form>
</div>