<section class="sidebar">

    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
    <!-- /.search form -->

    <!-- sidebar menu -->
    <ul class="sidebar-menu">
        <li class="header">Personal</li>
        <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> <span>Home</span></a></li>
        {% if user.is_authenticated %}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-calendar"></i> <span>Processes</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="{% url 'processes' %}"><i class="fa fa-dot-circle-o"></i>All</a></li>
                <li><a href="{% url 'processes' %}?filter=NEW"><i class="fa fa-circle"></i>New</a></li>
                <li><a href="{% url 'processes' %}?filter=STARTED"><i class="fa fa-circle"></i>Started</a></li>
                <li><a href="{% url 'processes' %}?filter=ASSIGNED"><i class="fa fa-circle"></i>Assigned</a></li>
                <li><a href="{% url 'processes' %}?filter=DONE"><i class="fa fa-circle"></i>Done</a></li>
                <li><a href="{% url 'processes' %}?filter=CANCELED"><i class="fa fa-circle"></i>Canceled</a></li>
                <li><a href="{% url 'processes' %}?filter=PREPARED"><i class="fa fa-circle"></i>Prepared</a></li>
                <li><a href="{% url 'processes' %}?filter=SCHEDULED"><i class="fa fa-circle"></i>Scheduled</a></li>
                <li><a href="{% url 'processes' %}?filter=ERROR"><i class="fa fa-circle"></i>Error</a></li>
                <li><a href="{% url 'processes' %}?filter=UNRIPE"><i class="fa fa-circle"></i>Unripe</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-tasks"></i> <span>Tasks</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="{% url 'tasks' %}"><i class="fa fa-dot-circle-o"></i>All</a></li>
                <li><a href="{% url 'tasks' %}?filter=NEW"><i class="fa fa-circle"></i>New</a></li>
                <li><a href="{% url 'tasks' %}?filter=ASSIGNED"><i class="fa fa-circle"></i>Assigned</a></li>
                <li><a href="{% url 'tasks' %}?filter=STARTED"><i class="fa fa-circle"></i>Started</a></li>
                <li><a href="{% url 'tasks' %}?filter=DONE"><i class="fa fa-circle"></i>Done</a></li>

            </ul>
        </li>
        {% endif %}

        <li class="header">Other</li>
        <li><a href="#"><i class="fa fa-question-circle"></i> <span>Help</span></a></li>
    </ul>
</section>
