{% extends 'base.html' %}

{% load static %}

{% block title %}
Vacation Approval
{% endblock %}

{% block main_content %}

<div class="row">
    <div class="col-md-10">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Approve a Vacation</h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>User</dt>
                    <dd>{{ activation.process.vacation.requester }}</dd>
                    <dt>Start Date</dt>
                    <dd>{{ activation.process.vacation.start_date }}</dd>
                    <dt>End Date</dt>
                    <dd>{{ activation.process.vacation.end_date }}</dd>
                    <dt>Details</dt>
                    <dd>{{ activation.process.vacation.details }}</dd>
                    <dt>Status</dt>
                    <dd>{{ activation.process.vacation.approval_status }}</dd>
                </dl>
            </div>
            <form method="post" class="form form-inline">
                {% csrf_token %}
                {{ form }}
                {{ activation.management_form }}
                <div class="box-footer">
                    <button type="submit" name="_continue" class="btn btn-success">Renew</button>

                    <a href="{% url 'example:tasks_in_progress' %}" class="btn btn-default">
                        <span class="glyphicon glyphicon-tasks"></span> Tasks
                    </a>
                    <a href="{% url 'example:index' %}" class="btn btn-default">
                        <span class="glyphicon glyphicon-home"></span> Home
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}
