{% extends 'base.html' %}

{% load static %}


{% block title %}
Request a vacation
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-md-10">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Create a vacation request
                </h3>
            </div>
            <form action="." method="post" class="form">
                <div class="box-body actions">
                    {% csrf_token %}
                    {{ form }}
                    {{ activation.management_form }}
                </div>
                <div class="box-footer">
                    <button type="submit" name="_continue" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock main_content %}
