{% extends 'base.html' %}

{% load static %}


{% block title %}
{{ activation.task.flow_task.task_title }}
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-md-10">
        <div class="box box-primary">
            <form action="." method="post" class="form">
                    {% csrf_token %}
                    {{ form }}
                    {{ activation.management_form }}
                <div class="box-footer">
                    <button type="submit" name="_continue" class="btn btn-success">Create</button>
                    <a href="{% url 'example:vacations' %}" class="btn btn-default">
                        <span class="glyphicon glyphicon-time"></span> View Vacations
                    </a>
                    <a href="{% url 'example:index' %}" class="btn btn-default">
                        <span class="glyphicon glyphicon-home"></span> Home
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock main_content %}
