{% extends 'base.html' %}

{% load static %}

{% block title %}
Timesheet
{% endblock %}

{% block main_content %}

<div class="row">
    <div class="col-md-10">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Fill a timesheet</h3>
            </div>
            <div class="box-body">
                <form action="." method="post" class="form form-inline">
                    {% csrf_token %}
                    {{ form }}
                    {{ activation.management_form }}
                </div>
                <div class="box-footer">
                    <input type="submit" value="Fill" class="btn btn-primary">
                    <a href="{% url 'timesheets' %}" class="btn btn-default">
                        <span class="glyphicon glyphicon-time"></span> View latest timesheets
                    </a>
                    <a href="{% url 'index' %}" class="btn btn-default">
                        <span class="glyphicon glyphicon-home"></span> Home
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock main_content %}
