{% extends 'base.html' %}

{% load static %}


{% block title %}
Enter a daily timesheet
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-md-10">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Create daily timesheet
                </h3>
            </div>
            <form action="." method="post" class="form form-inline">
                    {% csrf_token %}
                    {{ form }}
                    {{ activation.management_form }}
                <div class="box-footer">
                    <button type="submit" name="_continue" class="btn btn-primary">Create</button>
                    <a href="{% url 'example:timesheets' %}" class="btn btn-default">
                        <span class="glyphicon glyphicon-time"></span> View timesheets
                    </a>
                    <a href="{% url 'example:index' %}" class="btn btn-default">
                        <span class="glyphicon glyphicon-home"></span> Home
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock main_content %}
